.badge {
	/*font-weight: bold;
	/*font-size: 0.8em;
	border-radius: 10px;
	min-width: 0.7em;
	padding: 2px 5px;
	/* background: @accent_bg_color;
	 * color: @accent_fg_color; */
}

.status-icon {
  -gtk-icon-size: 96px;
  margin-bottom: 12px;
}
